.test1 {
	background-image: -moz-linear-gradient(top, bottom, from(#030303), to(#010101));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#030303), to(#010101));
}
.test2 {
	background-image: -moz-linear-gradient(top, bottom, from(#020202), to(#010101));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), to(#010101));
}
.test3 {
	background-image: -moz-linear-gradient(top, bottom, from(#F00), to(#008000));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F00), to(#008000));
}
