@media all {
	span {
		property: value;
		inner: class;
		property: asdf;
		display: block;
	}
}
@media screen and (color) {
	p {
		color: #F00;
	}
}
@media all and (min-width:500px) {
	body {
		width: 500px;
	}
}
@media (min-width:500px), only print and (min-width:11in) {
	body {
		width: 500px;
	}
}
@media (orientation:portrait) {
	body {
		width: 300px;
	}
}
@media all and (orientation:portrait) {
	body {
		width: 300px;
	}
}
@media not screen and (min-resolution:300dpi) {
	body {
		width: 3000px;
	}
}
elem {
	property: value;
}
@media aural, braille {
	html {
		display: none;
	}
}
@media embossed {
	what {
		is: embossed;
	}
}
@media handheld, print, projection, screen, tty, tv {
	everything {
		else: in here;
	}
}
